@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.announcement-bar-section, .announcement-bar.color-scheme-inverse{
     background: #F9AB88 !important;
      background-color: #F9AB88 !important;

}

.announcement-bar.color-scheme-inverse p{
    color: #000 !important;
    font-weight: 400 !important;

}

.swiper-button-prev, .swiper-button-next{
    color: #000 !important;
}



body, button, input, select, textarea {
    font-family: "Lexend", sans-serif !important;
}