@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*   font-family: "Lexend", sans-serif; */ 

.uncap_cart_detail .cart-header-actions{
        display: none !important;
    }

.incubate-keep-and-share-your-cart-title{
    position: absolute;
    width: 10%;
    text-align: left !important;
    left: 86%;
    top: -1em;
}

.slideshow__content .slideshow__title{
    font-family: "Lexend", sans-serif !important;
    font-weight: 100 !important;
    font-size: 100px;
}

.slideshow__content .slideshow__text{
    max-width: 55rem;
}