@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*   font-family: "Lexend", sans-serif; */ 

.uncap_cart_detail .cart-header-actions{
        display: none !important;
    }

.incubate-keep-and-share-your-cart-title{
    position: absolute;
    width: 10%;
    text-align: left !important;
    left: 86%;
    top: -1em;
}

.slideshow__content .slideshow__title{
    font-family: "Lexend", sans-serif !important;
    font-weight: 100 !important;
    font-size: 105px;
}

.slideshow__content .slideshow__text{
    max-width: 60rem !important;
}

.slideshow__description p{
    font-family: "Lexend", sans-serif !important;
    font-weight: 200 !important;
    letter-spacing: 1px !important;
    font-size: 20px !important;
}

.slideshow__buttons a.btn--underline{
     font-family: "Lexend", sans-serif !important;
     color: #fff !important;
     font-weight: 200 !important;
     font-size: 20px !important;
}

.header__menu.flex a, .menu__item > span{
    font-family: "Lexend", sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    text-transform: capitalize !important;
     font-size: 20px !important;
}

.header-transparent .header{
  border-bottom: none !important;
}

#printCartPdfButton{
    position: absolute;
    margin-top: 30px;
}

.uncap_cart_detail .actions-container{
    display:none !important;
}

.empty-cart a{
    display:none !important;
}

#saved-carts-container:has(#carts-list:empty) {
  display: none;
}


.printbutton{
    position: absolute;
    width: 15%;
    margin-top: 2em;
}

.positionAbsolute{
    background-color: #fff !important;
    position: absolute !important;
    left: 78%;
    margin-top: -3em !important;
}

.positionAbsolute:hover{
     background-color: #000 !important;
     color: #fff !important;
}

.cart-item__sku, .cart-item__options{
    visibility: hidden !important;
}